spring:
  datasource:
    url: jdbc:postgresql://localhost:5435/anotaai
    username: anotaai
    password: anotaai
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
    template:
      retry:
        enabled: true
        initial-interval: 2s
